[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "extern/digixbee"]
	path = extern/digixbee
	url = https://github.com/digidotcom/xbee-python.git
[submodule "third_party/c_library_v2"]
	path = third_party/c_library_v2
	url = https://github.com/mavlink/c_library_v2.git
[submodule "external/mavlink"]
	path = external/mavlink
	url = https://github.com/mavlink/c_library_v2
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal.git
