pywin32; platform_system == "Windows"
sysv_ipc; platform_system != "Windows"
digi-xbee
# Add other dependencies as needed
# this is for automatically creating and connecting the venv required to connect xbee
pymavlink
